version: "3.3"

services:

  api:
    build:
      context: .
    image: api
    env_file: docker-compose.env
    environment:
      SERVICES: api
      PORT: 3000
    depends_on:
      nats:
        condition: service_started
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-gw.rule=PathPrefix(`/`)"
      - "traefik.http.services.api-gw.loadbalancer.server.port=3000"
    networks:
      - internal
    restart: unless-stopped

  greeter:
    build:
      context: .
    image: greeter
    env_file: docker-compose.env
    environment:
      SERVICES: greeter
    depends_on:
      nats:
        condition: service_started
    networks:
      - internal
    restart: unless-stopped

  products:
    build:
      context: .
    image: products
    env_file: docker-compose.env
    environment:
      SERVICES: products
    depends_on:
      mongo:
        condition: service_healthy
      nats:
        condition: service_started
    networks:
      - internal
    restart: unless-stopped

  auth:
    build:
      context: .
    image: auth
    env_file: docker-compose.env
    environment:
      SERVICES: auth
    depends_on:
      mongo:
        condition: service_healthy
      nats:
        condition: service_started
    networks:
      - internal
    restart: unless-stopped

  todo:
    build:
      context: .
    image: todo
    env_file: docker-compose.env
    environment:
      SERVICES: todo
    depends_on:
      auth:
        condition: service_started
      mongo:
        condition: service_healthy
      nats:
        condition: service_started
    networks:
      - internal
    restart: unless-stopped

  mongo:
    image: mongo:4
    volumes:
      - data:/data/db
    networks:
      - internal
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nats:
    image: nats:2
    command: ["-js", "-m", "8222"]
    networks:
      - internal

  traefik:
    image: traefik:v2.4
    command:
      - "--api.insecure=true" # Don't do that in production!
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - 3000:80
      - 3001:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - internal
      - default

networks:
  internal:

volumes:
  data:
